/* wrap text */
.bootstrap-select .dropdown-menu .dropdown-item {
	white-space: normal;
}

td,
th {
	border-right: none;
	border-left: none;
}

td {
	padding-left: 0.75rem !important;
}

::placeholder {
	color: silver !important;
}
tr:last-child {
	animation: fadeIn 1s;
	/* TODO: animate height and padding */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
