/* wrap text */
.bootstrap-select .dropdown-menu .dropdown-item {
	white-space: normal;
}

td,
th {
	border-right: none;
	border-left: none;
}

td {
	padding-left: 0.75rem !important;
}

::placeholder {
	color: silver !important;
}

/* animate newly added table row */
tbody tr:last-child {
	pointer-events: none;
	animation: fadeIn 1s;
	will-change: opacity, transform, border-color;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
		border-color: transparent;
	}
	to {
		opacity: 1;
		transform: translateY(0);
		border-color: inherit;
	}
}

tbody tr:last-child td {
	animation: pad 0.2s linear;
	will-change: padding;
}

@keyframes pad {
	from {
		padding: 0;
		height: 0;
	}
	to {
		padding: auto;
		height: auto;
	}
}

.chevron {
	transition: transform 0.25s ease;
}

/* rotate chevron icon */
.btn:not(.collapsed) .chevron {
	transform: rotate(90deg);
}

/* animate underline from right→left on hover */
.underline-effect::after,
.mt-4:has(#disqus.show) .underline-effect::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 0.2rem;
	width: 90%;
	background-color: #c1c1c1;
	transform: translateX(-50%) scaleX(0);
	transform-origin: right;
	transition:
		transform 0.5s ease,
		background-color 0.5s ease;
}

.underline-effect:hover::after {
	transform: translateX(-50%) scaleX(1);
	transform-origin: left;
}

/* hide disqus ads */
#disqus_thread iframe[src*='ads-iframe'] {
	display: none;
}
